{{define "footer"}}
<p lang='en'>
    <i>
        Page generated in {{printf "%.6f" generatedTime}} seconds.
        This is a Go rewrite of the Python original.
        Source code is now available on <a href="https://github.com/glxxyz/hskhsk.com/tree/master/gohanzi">github</a>.
        If you find this site useful, <a href='https://hskhsk.com/contribute'>let me know</a>!
    </i>
</p>
</body>
</html>
{{end}}