
.wslide {
	font-family: arial;
	font-size: 13px;
	color: #fff;
	cursor: default;
	}
	
.wslide-main {
	position: relative;
	z-index: 2;
	width: 100%;
	}
	
.wslide-link-cell {
	width: 1px;
	}
	
	
	
	
.wslide table {
	border-collapse: collapse;
	border-spacing: 0;
	}
	
.wslide td {
	padding: 0 !important;
	vertical-align: top;
	}
	
	
	
	
.wslide-button {
	position: relative;
	display: inline-block;
	height: 25px;
	overflow: hidden;
	cursor: pointer;
	}
	
.wslide-button-inner {
	position: relative;
	z-index: 2;
	float: left;
	padding: 0 14px !important;
	height: 25px;
	line-height: 25px;
	color: #fff;
	font-weight: bold;
	white-space: nowrap;
	}
	
.wslide-button-icon {
	display: inline-block;
	height: 25px;
	vertical-align: top;
	*vertical-align: middle;
	}
	
.wslide-button-bg {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 25px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	background: #333;
	opacity: .8;
	filter: alpha(opacity=80);
	}
	
	
	

.wslide-play .wslide-button-icon {
	width: 5px;
	background: url(/web/20141206190116im_/http://cdn1.editmysite.com/editor/images/slideshow/control_icons.gif) no-repeat -14px 50%;
	margin-left: 2px;
	}
	
.wslide-pause .wslide-button-icon {
	width: 6px;
	background: url(/web/20141206190116im_/http://cdn1.editmysite.com/editor/images/slideshow/control_icons.gif) no-repeat -19px 50%;
	margin-left: 2px;
	}
	
.wslide-prev .wslide-button-icon {
	width: 7px;
	background: url(/web/20141206190116im_/http://cdn1.editmysite.com/editor/images/slideshow/control_icons.gif) no-repeat 0 50%;
	}
	
.wslide-next .wslide-button-icon {
	width: 7px;
	background: url(/web/20141206190116im_/http://cdn1.editmysite.com/editor/images/slideshow/control_icons.gif) no-repeat -7px 50%;
	}
	
	
	

.wslide-content {
	position: relative;
	overflow: hidden;
	}
	
.wslide-content-inner {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	}
	
	
	
	
.wslide-overlay-top-left {
	position: absolute;
	z-index: 2;
	top: 10px;
	left: 10px;
	}
	
.wslide-overlay-top-right {
	position: absolute;
	z-index: 2;
	top: 10px;
	right: 10px;
	}
	
.wslide-overlay-left {
	position: absolute;
	z-index: 2;
	top: 50%;
	left: 10px;
	}
	
.wslide-overlay-right {
	position: absolute;
	z-index: 2;
	top: 50%;
	right: 10px;
	}
	
.wslide-overlay-left .wslide-button,
.wslide-overlay-right .wslide-button {
	position: relative;
	top: -13px;
	}
	
	
	
/* header-slideshow prev/next styling */

.wsite-header .wslide-overlay-left,
.wsite-header .wslide-overlay-right {
	position: absolute;
	width: 100px;
	}

.wsite-header .wslide-overlay-left {
	top: 0;
	left: 0;
	bottom: 0;
	}

.wsite-header .wslide-overlay-right {
	top: 0;
	right: 0;
	bottom: 0;
	}
	
.wsite-header .wslide-prev,
.wsite-header .wslide-next {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	}

.wsite-header .wslide-prev .wslide-button-inner,
.wsite-header .wslide-next .wslide-button-inner {
	position: absolute;
	top: 50%;
	height: auto;
	line-height: 100%;
	padding: 0 !important;
	}

.wsite-header .wslide-prev .wslide-button-inner {
	left: 10px;
	}

.wsite-header .wslide-next .wslide-button-inner {
	right: 10px;
	}

.wsite-header .wslide-prev .wslide-button-icon,
.wsite-header .wslide-next .wslide-button-icon {
	position: relative;
	top: -20px;
	width: 40px;
	height: 40px;
	background: url(/web/20141206190116im_/http://cdn1.editmysite.com/editor/images/slideshow/header_slideshow_sprites.png) no-repeat;
	}

.wsite-header .wslide-prev .wslide-button-icon {
	background-position: 0 0;
	}

.wsite-header .wslide-prev:hover .wslide-button-icon {
	background-position: -40px 0;
	}

.wsite-header .wslide-next .wslide-button-icon {
	background-position: -120px 0;
	}

.wsite-header .wslide-next:hover .wslide-button-icon {
	background-position: -80px 0;
	}

.wsite-header .wslide-prev .wslide-button-bg,
.wsite-header .wslide-next .wslide-button-bg {
	display: none;
	}

	
	
	
	
.wslide-slides {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	}
	
.wslide-slide {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	}
	
.wslide-slide-loading {
	background: url(/web/20141206190116im_/http://cdn1.editmysite.com/editor/images/slideshow/loading.gif) no-repeat 50% 50%;
	}
	
.wslide-slide-inner1 {
	position: absolute;
	top: 50%;
	left: 50%;
	}
	
.wslide-slide-inner2 {
	position: absolute;
	}
	
html body .wslide-slide a,
html body #secondlist .wslide-slide a,
html body #wsite-content .wslide-slides .wslide-slide a { /* do #wsite-content .wslide-slides to overpower design options color */
	color: #fff !important;
	font-weight: normal !important;
	text-decoration: none !important;
	cursor: pointer !important;
	}
	
html body .wslide-slide a:hover,
html body #secondlist .wslide-slide a:hover,
html body #wsite-content .wslide-slides .wslide-slide a:hover { /* do #wsite-content .wslide-slides to overpower design options color */
	color: #fff !important;
	font-weight: normal !important;
	text-decoration: underline !important;
	}
	
.wslide-slide-inner2 img {
	float: left;
	}
	
	
	
	
.wslide-caption {
	position: absolute;
	z-index: 1;
	left: 0;
	width: 100%;
	overflow: hidden;
	_background: #333; /* bg wasn't working in IE6 */
	}
	
.wslide-caption-top {
	top: 0;
	}
	
.wslide-caption-bottom {
	bottom: 0;
	}
	
.wslide-caption-text {
	position: relative;
	z-index: 2;
	padding: .7em 1em !important;
	line-height: 1.6em;
	text-align: left;
	text-shadow: 0 0 5px #000;
	}
	
.wslide-caption-bg {
	_display: none;
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: .5;
	filter:alpha(opacity=50);
	}
	
/* header slideshow caption */

.wsite-header .wslide-caption {
	width: auto;
	min-width: 25%;
	max-width: 75%;
	}
	
.wsite-header .wslide-caption-text {
	font-size: 25px;
	}
	
	
	
	
.wslide-links {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100%;
	}
	
.wslide-links-top .wslide-link {
	margin: 0 5px 5px 0 !important;
	}
	
.wslide-links-bottom .wslide-link {
	margin: 5px 5px 0 0 !important;
	}
	
.wslide-links-left .wslide-link {
	margin: 0 5px 5px 0 !important;
	}
	
.wslide-links-right .wslide-link {
	margin: 0 0 5px 5px !important;
	}
	
	
	
.wslide-links-top table,
.wslide-links-bottom table {
	margin-right: -5px;
	}
	
.wslide-links-left table,
.wslide-links-right table {
	margin-bottom: -5px;
	}
	
	
	
.wslide-links-inner {
	position: absolute;
	top: 0;
	left: 0;
	}
	
.wslide-link {
	position: relative;
	display: block;
	cursor: pointer;
	}
	
.wslide-link-thumbnail .wslide-link-inner1 {
	position: relative;
	width: 70px;
	height: 70px;
	overflow: hidden;
	}
	
.wslide-link-thumbnail .wslide-link-inner2 {
	position: absolute;
	top: 50%;
	left: 50%;
	}
	
.wslide-link-thumbnail img {
	position: absolute;
	}
	


	
.wslide-playing .wslide-link-thumbnail img {
	opacity: .5;
	filter: alpha(opacity=50);
	}
	
.wslide-playing .wslide-thumbnail-links .wslide-link-active img {
	opacity: 1;
	filter: none;
	}
	
	
	
	
.wslide-link-number {
	border: 0;
	padding: 0 .6em !important;
	height: 2em;
	line-height: 2em;
	background: #333;
	color: #ddd !important;
	opacity: .7;
	filter: alpha(opacity=70);
	text-align: center;
	text-decoration: none !important;
	}

.wslide-link-number > .wslide-link-inner1 {
	color: #ddd !important;
	}
	
.wslide-number-links .wslide-link-active,
.wslide-number-links a:hover {
	color: #fff !important;
	opacity: 1;
	filter: none;
	}
	
.wslide-dots {
	position: absolute;
	z-index: 3;
	}

.wslide-dot {
	float: left;
	width: 15px;
	height: 15px;
	background: url(/web/20141206190116im_/http://cdn1.editmysite.com/editor/images/slideshow/header_slideshow_sprites.png) no-repeat 0 -40px;
	cursor: pointer;
	margin: 0 3px;
	}

.wslide-dot-current {
	background-position: -15px -40px;
	}
	
.wsite-mobile .wslide-dot {
	float: left;
	width: 7px;
	height: 8px;
	background: url(/web/20141206190116im_/http://cdn1.editmysite.com/editor/images/slideshow/header_slideshow_sprites1x.png) no-repeat 0 -20px;
	cursor: pointer;
	margin: 0 3px;
	}

.wsite-mobile .wsite-header .wslide-prev .wslide-button-icon,
.wsite-mobile .wsite-header .wslide-next .wslide-button-icon {
	position: relative;
	top: -10px;
	width: 20px;
	height: 20px;
	background: url(/web/20141206190116im_/http://cdn1.editmysite.com/editor/images/slideshow/header_slideshow_sprites1x.png) no-repeat;
	}

/* image retina display */
@media screen and (-webkit-min-device-pixel-ratio: 2),
screen and (min--moz-device-pixel-ratio: 2) {

	.wsite-mobile .wslide-dot {
		background: url(/web/20141206190116im_/http://cdn1.editmysite.com/editor/images/slideshow/header_slideshow_sprites.png) no-repeat 0 -20px;
		background-size: 76px 28px;
	}

	.wsite-mobile .wsite-header .wslide-prev .wslide-button-icon,
	.wsite-mobile .wsite-header .wslide-next .wslide-button-icon {
		background: url(/web/20141206190116im_/http://cdn1.editmysite.com/editor/images/slideshow/header_slideshow_sprites.png) no-repeat;
		background-size: 76px 28px;
	}
}

.wsite-mobile .wslide-dot-current {
	background-position: -7px -20px;
	}

.wsite-mobile .wsite-header .wslide-prev .wslide-button-icon {
	background-position: 0 0;
	}

.wsite-mobile .wsite-header .wslide-prev:hover .wslide-button-icon {
	background-position: -20px 0;
	}

.wsite-mobile .wsite-header .wslide-next .wslide-button-icon {
	background-position: -60px 0;
	}

.wsite-mobile .wsite-header .wslide-next:hover .wslide-button-icon {
	background-position: -40px 0;
	}

	

/*
     FILE ARCHIVED ON 19:01:16 Dec 06, 2014 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 19:33:47 Apr 09, 2017.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/