@font-face {
  font-family: 'Quattrocento';
  font-style: normal;
  font-weight: 400;
  src: local('Quattrocento'), url(http://themes.googleusercontent.com/static/fonts/quattrocento/v5/WZDISdyil4HsmirlOdBRFHhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
@font-face {
  font-family: 'Quattrocento';
  font-style: normal;
  font-weight: 700;
  src: local('Quattrocento Bold'), local('Quattrocento-Bold'), url(http://themes.googleusercontent.com/static/fonts/quattrocento/v5/Uvi-cRwyvqFpl9j3oT2mqnl4twXkwp3_u9ZoePkT564.woff) format('woff');
}
